<div class="main-container">
  <h2><%= link_to :back do %>
    <i class="fas fa-arrow-left"></i>
  <% end %></h2>

  <div class="form-title">
    <h2>Update Account</h2>
  </div>
  <hr class="pink">

<div class="form-body">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>
      <%= f.input :first_name,
                          required: true,
                          autofocus: true,
                          label: "first name",
                          placeholder: "first name",
                          input_html: { autocomplete: "email" }%>
      <%= f.input :last_name,
                          required: true,
                          autofocus: true,
                          label: "last name",
                          placeholder: "last name",
                          input_html: { autocomplete: "email" }%>
      <%= f.input :photo,
                          label: "photo"  %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.input :user_name,
                          required: true,
                          autofocus: true,
                          label: "user name",
                          placeholder: "enter your email!",
                          input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  hint: "leave it blank if you don't want to change it",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :current_password,
                  hint: "we need your current password to confirm your changes",
                  required: true,
                  input_html: { autocomplete: "current-password" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Update", class:"form-btn" %>
    </div>
  <% end %>
  <br>
  <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

  </div>
</div>
