  <%= simple_form_for [@item, @finding], html: { class: "form-finding"} do |f| %>
    <div class="card-finding-show" id="section07">
      <div class="step-number-round">
        <h1>1</h1>
      </div>
      <div class="finding-items-card">
        <h1><i class="fas fa-map-marker-alt"></i></h1>
        <h3><strong class="highlighted-red">Drop <%= @item.name %> off</strong>
        <br>
        <strong class="opacity-h3">at a secure location</strong></h3>
          <%= f.input :address, label: false, placeholder: "dropoff location (e.g. Starbucks)" %>
          <div class="page-scroll text-center">
          <a href="#section08" class="btn btn-circle" id="finders-page">
            <i class="fa fa-angle-down fa-2x animated"></i>
          </a>
      </div>
      </div>
    </div>

    <div class="card-finding-show" id="section08">
      <div class="step-number-round">
        <h1>2</h1>
      </div>
      <div class="finding-items-card">
        <h3><strong class="highlighted-red">Select a cause</strong>
          <br>
          <strong class="opacity-h3"><%= @item.user.first_name %> will give to</strong></h3>
        <div class="checkboxes">
          <fieldset class="form-group check_boxes optional finding_cause_id">
            <legend class="col-form-label pt-0"></legend>
            <input type="hidden" name="finding[cause_id]" value="">
            <div class="cause-cards">
                <div class="form-check">
                  <input class="form-check-input check_boxes optional" type="radio" value="1" name="finding[cause_id]" id="finding_cause_id_1">
                  <label id='label-1' class="collection_check_boxes" for="finding_cause_id_1">
                     <div class="cause-card-contents">
                       <i class="fas fa-heart"></i>
                       <p>SOS Child Support</p>
                     </div>
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input check_boxes optional" type="radio" value="2" name="finding[cause_id]" id="finding_cause_id_2">
                  <label id='label-2' class="collection_check_boxes" for="finding_cause_id_2">
                    <div class="cause-card-contents">
                      <i class="fas fa-dog"></i>
                      <p>Animal Shelter Berlin</p>
                    </div>
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input check_boxes optional" type="radio" value="3" name="finding[cause_id]" id="finding_cause_id_3">
                  <label id='label-3' class="collection_check_boxes" for="finding_cause_id_3">
                    <div class="cause-card-contents">
                      <i class="fas fa-stethoscope"></i>
                      <p>Coding Bootcamp Rehab</p>
                    </div>
                  </label>
                </div>

            </div>
          </fieldset>
        </div>
        <%= f.input :message, label: false, placeholder: "additional info for #{@item.user.first_name}" %>
        <%= f.button :submit,"Submit", id:"finding-form-btn"%>
      </div>
    </div>
  <% end %>


