<div class="main-container">
  <% if @finding.state == 'pending' %>
    <div class="card-found">
      <h1>Your <%= @item.name %> has been <strong class="highlighted highlighted-red">found</strong></h1>
      <h3>Now it's your time to give back to the community</h3>
        <i class="fas fa-hand-holding-usd"></i>
      <p>Please donate to <strong class="highlighted highlighted-green"><%= @finding.cause.name %></strong> ro view your <%= @item.name %>'s location</p>

      <%= simple_form_for(@finding) do |f| %>
        <%= f.input :amount_cents_cents, label: "Your Donation (€):", placeholder: "5" %>
        <%= f.button :submit, "Donate", class: "form-btn" %>
      <% end %>
    </div>

  <% else %>
    <div class="card-found-paid">
      <h1>Your <%= @item.name %> was marked <strong class="highlighted highlighted-green">found</strong></h1>
      <br>
      <hr class="pink">
      <br>
      <div class="d-flex justify-content-around flex-wrap mb-5">
        <div class="card-paid-info">
          <h3>Donation Summary</h3>
          <ul class="list-unstyled">
            <li><p><i class="fas fa-money-bill green mr-3"></i> <%= @finding.state.capitalize %></p></li>
            <li><p><i class="fas fa-hands green mr-3"></i> <%= @finding.cause.name %></p></li>
            <li><p><i class="fas fa-coins green mr-3"></i> <%= humanized_money_with_symbol(@finding.amount_cents) %></p></li>
          </ul>
        </div>

        <div class="card-paid-info">
          <h3>Item Details</h3>
          <ul class="list-unstyled">
            <li><p><i class="fas fa-map-marker-alt mr-3"></i><%= @finding.address.split.map(&:capitalize).join(' ') %></p></li>
            <li><p><i class="fas fa-info-circle mr-3"></i><%= @finding.message unless @finding.message.nil? %></p></li>
            <li><p><i class="fas fa-hourglass-half mr-3"></i> Dropped off at <%= @finding.created_at.strftime("%l:%M %p") %> on <%= @finding.created_at.strftime(" %A, %d %b") %></p></li>
          </ul>
        </div>
      </div>
      <hr class="green">
      <div
      class="mt-5"
      id="map"
      style="width: 100%;
      height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    <% end %>
  </div>
</div>
