<div class="container background-white my-5 p-5 code-card">
  <% if @finding.state == 'pending' %>
    <h2><%= @item.name %> has been found</h2>
    <h3>Now it's your time to give back to the community!</h3>
    <p>Your finder has chosen the cause <%= @finding.cause.name %></p>
    <p>Please donate to view your item's location</p>

    <form class="simple_form edit_finding" id="edit_finding_4" novalidate="novalidate" action="" accept-charset="UTF-8" method="post">
      <input name="utf8" type="hidden" value="✓">
      <input type="hidden" name="_method" value="patch">
      <input type="hidden" name="authenticity_token" value="@finding.item.code">
          <div class="form-group range optional finding_amount_cents_cents form-group-valid">
            <label class="range optional" for="finding_amount_cents_cents">Your Donation: (1 - 20 EUR)</label>
            <div class="d-flex">
              <input class="form-control-range is-valid numeric range optional w-50" type="range" step="0.5" value="" max="20" min="1" name="finding[amount_cents_cents]" id="finding_amount_cents_cents">
               <p class="ml-5"><em>Current Value:</em> <%= @finding.amount_cents_cents / 100 %></p>
            </div>
          </div>
          <input type="submit" name="commit" value="Donate" class="btn form-btn" data-disable-with="Donate">
    </form>

  <% else %>
    <h1>Your <%= @item.name %> was marked found!</h1>
    <br>
    <br>
    <div class="d-flex justify-content-between">
      <div>
        <h3>Donation Summary</h3>
        <ul class="list-unstyled p-3">
          <li><strong>Status:</strong> <%= @finding.state %></li>
          <li><strong>Cause:</strong> <%= @finding.cause.name %></li>
          <li><strong>Amount:</strong> <%= humanized_money_with_symbol(@finding.amount_cents_cents / 100) %></li>
        </ul>
      </div>

      <div>
        <h3>Item Details</h3>
        <ul class="list-unstyled p-3">
          <li><i class="fas fa-map-marker-alt mr-2"></i><%= @finding.address.split.map(&:capitalize).join(' ') %></li>
          <li><i class="fas fa-info-circle mr-2"></i><%= @finding.message unless @finding.message.nil? %></li>
          <li><i class="fas fa-hourglass-half mr-2"></i> Dropped off at <%= @finding.created_at.strftime("%l:%M %p") %> on <%= @finding.created_at.strftime(" %A, %dth %b %Y") %></li>
        </ul>
      </div>
    </div>
    <%= link_to "Got it back!", items_path, class:"form-btn w-100"%>

    <div
    class="mt-5"
    id="map"
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  <% end %>
</div>
