<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

    <%= link_to root_path, class: "navbar-brand" do %>
      <div class="d-flex align-items-center">
        <h3><i class="fas fa-feather-alt"></i></h3>
        <h3 id=navbar-text>RobinGood</h3>
      </div>
    <% end %>



  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %>
          <li class="nav-item dropdown mr-5">
            <i class="fas fa-bell dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
            <% current_user.items.each do |item| %>
              <% item.findings.each do |finding| %>
                <% if finding.state == "pending" %>
                  <i class="fas fa-bullseye"></i>
                <% end %>
              <% end %>
            <% end %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <% if current_user.pending_findings? %>
                <% current_user.pending_findings.each do |item| %>
                  <%= link_to finding_path(item.findings.find_by(state: pending)), class: "dropdown-item" do %>
                    <p>Your <%= finding.name %> has been found!</p>
                  <% end %>
                <% end %>
              <% else %>
                  <p class="dropdown-item">No new notifications</p>
              <% end %>
            </div>
          </li>
        <% end %>
          <% if user_signed_in? %>
            <li class="nav-item dropdown">
                <i class="fas fa-bars dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <%= link_to "My Items", items_path, class: "dropdown-item", style:"font-weight: bold" %>
                <hr>
                <%= link_to "Update account", edit_user_registration_path, class: "dropdown-item" %>
                <hr>
                <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </div>
            </li>
          <% else %>
        <li class="nav-item" >
          <%= link_to "Log in", new_user_session_path, class: "nav-link", style:"color: transparent;"%>
        </li>
      <% end %>
    </ul>
  </div>
</div>
