<header>
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://res.cloudinary.com/dmsw1yn6c/video/upload/v1559747045/background_robin_good_9sec_ioy6aq.mp4" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="h1_small">RobinGood</h1>
        <p class="lead mb-0">Give Back. Get Back.</p>
        <div id="logo" class="mb-4">
          <i class="fas fa-feather-alt"></i>
        </div>
          <% if user_signed_in? %>
            <div>
              <%= link_to "My Items", items_path, class: "btn-medium" %>
            </div>
            <div>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn-borderless" %>
            </div>
          <% else %>
            <div>
            <%= link_to "Sign In", new_user_session_path, class: "btn-medium" %>
            </div>
            <div>
            <%= link_to "Sign Up", new_user_registration_path, class: "btn-medium" %>
            </div>
          <% end %>
          <div class="page-scroll text-center">
            <a href="#section06" class="btn btn-circle">
              <i class="fa fa-angle-down fa-2x animated"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
</header>

  <div class="cards-container card-how" id="section06">
    <div class="header-info">
      <h3 class="mt-3">Easily return, retrieve and keep track of items lost using <div class="highlighted highlighted-red">QR technology</div></h3>
      <br>
       <hr class="green">
      <br>
    </div>
    <div class= "row mb-5">
      <div class="col">
        <div class="card-square">
          <%= cl_image_tag("order_final_cuayrp", height: 180, crop: :fill) %>
          <p class="mt-5"><strong class="highlighted highlighted-green">Step 1</strong> Order free QR codes</p>
        </div>
      </div>
      <div class="col">
        <div class="card-square">
          <%= cl_image_tag("place_final_g8qfav", height: 180, crop: :fill) %>
          <p class="mt-5"><strong class="highlighted highlighted-green">Step 2</strong> Place on your item</p>
        </div>
      </div>
      <div class="col">
        <div class="card-square">
          <%= cl_image_tag("getback_final_zt57az", height: 180, crop: :fill) %>
          <p class="mt-5"><strong class="highlighted highlighted-green">Step 3</strong> Get your item back</p>
        </div>
      </div>
    </div>
  </div>

  <div class="cards-container card-causes">
    <div class="header-info">
      <h3>When you get your item back, give back by <div class="highlighted highlighted-green">donating</div> to a community cause</h3>
      <br>
      <hr class="pink">
      <br>
    </div>
    <div class= "row mb-5">
      <div class="col">
        <div class="card-square">
          <i class="fas fa-heart"></i>
          <p>Cause 1</p>
        </div>
      </div>
      <div class="col">
        <div class="card-square">
          <i class="fas fa-dog"></i>
          <p>Cause 2</p>
        </div>
      </div>
      <div class="col">
        <div class="card-square">
          <i class="fas fa-stethoscope"></i>
          <p>Cause 3</p>
        </div>
      </div>
    </div>
  </div>







