<div class="main-container">
  <div class="card-found">
      <h1>Donation for <div class="highlighted highlighted-red"><%= @finding.cause.name %></div></h1>
        <%= form_tag finding_payments_path(@finding) do %>
          <article>
            <label class="amount">
               <hr class="green mb-5">
              <span>
                <ul class="list-unstyled text-left">
                  <li><p><i class="fas fa-coins green mr-3"></i> <%= humanized_money_with_symbol(@finding.amount_cents) %></p></li>
                  <li><p><i class="fas fa-hands green mr-3" style="color: #008001;"></i> <%= @finding.cause.name %></p></li>
                  <li><p><i class="fas fa-info-circle mr-3" style="color: #008001;"></i> <%= @finding.cause.description %></p></li>
                </ul>
              </span>
            </label>
          </article>

          <div class="mb-5 mt-4">
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button mb-5"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-name="My Donation"
              data-email="<%= current_user.email %>"
              data-description="Donation <%= @finding.cause.name %>"
              data-amount="<%= @finding.amount_cents_cents %>"
              data-currency="eur"
              ></script>
          </div>
          <article><%= cl_image_tag("children_u57ztc", class: "img-fluid mb-4", height: 280, width: 280, crop: :fill) %></article>
        <% end %>
      </div>
    </div>
  </div>
</div>
