<div class="form-container">
  <div class="devices-image">
    <%= image_tag "camera-contemporary-device-325153.jpg" %>
  </div>
  <div class="form-header">
    <h3>New Item</h3>
  </div>
  <div class="form-body">
    <%= simple_form_for (@item) do |f| %>
      <%= f.input :name, label: 'Item Name', error: 'Please provide an item name', placeholder:"My kindle" %>
      <%= f.input :category, label: 'Category', error: 'Please provide a category', :collection => ["Laptop", "Phone", "Tablet", "Notepad", "Other"] %>
      <%= f.input :description, label: 'Item Description', placeholder:"Kindle Paperwhite, newest edition" %>
      <%= f.button :submit, class: "pt-0 pb-0 hidden", id:"create-item-btn" %>
    <% end %>
    <button class="btn btn-info" id="sweet-alert-init">
      Continue
    </button>
  </div>
  <p id="hidden-qr-count">
    <%= current_user.items.count + 1 %>
  </p>
</div>
