<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> RobinGood | Give Back. Get Back.</title>
    <link type="fas fa-feather-alt" href="fas fa-feather-alt">
    <meta property="og:title" content="RobinGood">
    <meta property="og:description" content="Easily return and retrieve lost items using QR technology">
    <meta property="og:image" content="https://images.unsplash.com/photo-1531168738274-aa9955d5033f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1200&l=630&q=80">
    <meta property="og:url" content="http://getrobingood.com">
    <meta name="twitter:title" content=" RobinGood">
    <meta name="twitter:description" content=" Easily return and retrieve lost items using QR technology">
    <meta name="twitter:card" content="summary_large_image">
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
  </head>
  <body>
    <% unless @hidden_navbar %>
      <%= render 'shared/navbar' %>
    <% end %>
    <%= render 'shared/flashes' %>
    <div id="main-content">
      <%= yield %>

    </div>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
